main {
  margin-top: 60px;
}

#content {
  display: none;
}

form {
  width: 350px;
  margin-bottom: 10px;
}


#loader{
  margin-top:76px;
}
#completed-task-list{
  margin-top: 50px;

}
#completed-task-list .task-content {
  color: grey;
  text-decoration: line-through;
}

.task-item{
  margin-top:20px;
}

#task-list{
  margin-top: 80px;
}

#new-task-form{
  margin-top: 80px;
  display: flex;
}

.new-task-submit-button{
  width: fit-content;
}